<?xml version="1.0"?>
<config>
    <modules>
        <Dxt_ConfigManager>
            <version>0.1.0</version>
        </Dxt_ConfigManager>
    </modules>
    <global>
        <models>
            <dxt_configmanager>
                <class>Dxt_ConfigManager_Model</class>
                <resourceModel>dxt_configmanager_resource</resourceModel>
            </dxt_configmanager>
            <dxt_configmanager_resource>
                <class>Dxt_ConfigManager_Model_Resource</class>
            </dxt_configmanager_resource>
        </models>
        <blocks>
            <dxt_configmanager>
                <class>Dxt_ConfigManager_Block</class>
            </dxt_configmanager>
        </blocks>
        <helpers>
            <dxt_configmanager>
                <class>Dxt_ConfigManager_Helper</class>
            </dxt_configmanager>
        </helpers>
    </global>
    <admin>
        <routers>
            <config_manager>
                <use>admin</use>
                <args>
                    <frontName>config_manager</frontName>
                    <module>Dxt_ConfigManager</module>
                </args>
            </config_manager>
        </routers>
    </admin>
</config>